---
layout: default
title: "Home"
---



{% if site.show_excerpts %}
  {% include home.html %}
<p style="padding-top: 20 px; padding-right: 30 px; padding-left: 30 px;"> As an experienced data analyst, I’m focused on helping others make data-informed decisions. With a background in econometrics and data sciences, I’m skilled at data scraping, data cleaning and organization, and pulling helpful insights from data.</p> 
{% else %}
  {% include archive.html title="Portfolio Projects" %}
{% endif %}
